services:
  web:
    build: .
    depends_on:
      - db
    volumes:
      - .:/app
      - /app/.venv
    environment:
      POSTGRES_HOST: db
      POSTGRES_PORT: 5433
    env_file:
      - path: ./.env
        required: true # default
    ports:
      - "8000:8000"

  db:
    image: postgres:15-alpine
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    expose:
      - 5433
    ports:
      - "5433:5432"
    env_file:
      - path: ./.env
        required: true # default

volumes:
  postgres_data:
