version: "3"

services:
  web:
    build: .
    depends_on:
      - db
    volumes:
      - .:/app
      - /app/.venv
    env_file:
      - path: ./.env
        required: true # default
    environment:
      POSTGRES_HOST: db
    ports:
      - "8000:8000"

  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    expose:
      - 5432
    ports:
      - "5432:5432"
    env_file:
      - path: ./.env
        required: true # default

volumes:
  postgres_data:
