version: '3'

services:
  web:
    build: .
    depends_on:
      - db
    volumes:
      - .:/app
      - /app/.venv
    env_file: ".env"
    ports:
      - "8000:8000"

  db:
      image: postgres:15-alpine
      volumes:
        - postgres_data:/var/lib/postgresql/data/
      expose:
        - 5433
      env_file: ".env"

volumes:
      postgres_data: 